@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Warehouse_MS.Models.DTO.WarehouseDto
    <label>
        <span>Name</span>
    </label>
    <br />
    <input asp-for="Name"/>
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    <label>
        <span>Description</span>
    </label>
    <br />
    <input asp-for="@Model.Description"/>
    <br />
    <br />  
    <label>
        <span>Location</span>
    </label>
    <br />
    <input asp-for="@Model.Location"/>
    <br />
    <br />
      <label>
        <span>SizeInUnit</span>
    </label>
    <br />
    <input asp-for="@Model.SizeInUnit"/>
    <br />
    <br />