@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Warehouse_MS.Models.Warehouse
@{
    Layout = "_layout";
}


<div class="container-xxl flex-grow-1 container-p-y">
            <div class="card mb-4">
              <h5 class="card-header">Create Warehouse</h5>
              <hr class="my-0" />
              <div class="card-body">
                <form asp-controller="Warehouse" asp-action="Create" method="post">
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="firstName" class="form-label">Name</label>
                      <input type="text"
                      class="form-control"
                      id="basic-icon-default-fullname"
                      placeholder="Name"
                      aria-label="Name"
                      aria-describedby="basic-icon-default-fullname2"
                      asp-for="@Model.Name" />
                    </div>
                    <div class="mb-3 col-md-6">
                            <label class="form-label" for="country">Location</label>
                            <select asp-for="@Model.Location" id="country" class="select2 form-select">
                              <option value="">Select</option>
                              <option  value="Amman">Amman</option>
                              <option value="Irbid">Irbid</option>
                              <option value="Zarqa">Zarqa</option>
                              <option value="Mafraq">Mafraq</option>
                              <option value="Ajloun">Ajloun</option>
                              <option value="Jerash">Jerash</option>
                              <option value="Madaba">Madaba</option>
                              <option value="Balqa">Balqa</option>
                              <option value="Karak">Karak</option>
                              <option value="Tafileh">Tafileh</option>
                              <option value="Maan">Maan</option>
                              <option value="Aqaba">Aqaba</option>
                            </select>
                          </div>
                    <div class="mb-3 col-md-6">
                      <label for="basic-icon-default-company" class="form-label">Description</label>
                      <input type="text"
                                           id="basic-icon-default-company"
                                           class="form-control"
                                           placeholder="Description"
                                           aria-label="Description"
                                           aria-describedby="basic-icon-default-company2"
                                           asp-for="@Model.Description" />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="organization" class="form-label">Size In Unit</label>
                      <input type="number"
                                           id="basic-icon-default-phone"
                                           class="form-control phone-mask"
                                           placeholder="SizeInUnit"
                                           aria-label="SizeInUnit"
                                           aria-describedby="basic-icon-default-phone2"
                                           asp-for="@Model.SizeInUnit" />
                    </div>
                  </div>
                  <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Save changes</button>
                    <a href="/warehouse/index" class="btn btn-outline-secondary">Cancel</a>
                  </div>
                  </form>
                </div>
              </div>
            
          </div>