@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Warehouse_MS.Models.Warehouse
@{
    Layout = "_Empty";
}
<h3>Edit Warehouse</h3>

<form asp-controller="Warehouse" asp-action="Edit" method="post">
    <input hidden asp-for="@Model.Id" />
    <partial name="_WarehouseFields"></partial>

    <button type="submit">
            Edit Warehouse
    </button>
    <br />
</form>