@{
    Layout = "_Home";
}

<div class="container-xxl bg-white p-0">
        <div class="container-xxl position-relative p-0">
            <div class="container-xxl py-5 bg-primary hero-header mb-5">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated zoomIn">Maximize your Warehouse efficiency grow your business </h1>
                            <p class="text-white pb-3 animated zoomIn">Modern online warehouse management software. Better organize your warehouse with the smart double entry inventory system.</p>
                            <a href="/home/index" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Start now - It's free</a>
                            <p style="margin-top:20px">Free, forever, with unlimited users</p>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid" src="https://bazartest.blob.core.windows.net/img/hero.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
