@model Warehouse_MS.Models.StorageType
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<div class="form-outline mb-4">
    <label class="form-label" for="form3Example3"> StorageType Name</label>

    <input asp-for="@Model.Name" type="text" class="form-control form-control-lg" />
</div>

<div class="form-outline mb-4">
    <label class="form-label" for="form3Example3"> Description </label>

    <input asp-for="@Model.Description" type="text" class="form-control form-control-lg" />
</div>


