

@model Warehouse_MS.Models.StorageType
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

    @*var x = "";
            if (ViewBag.flagReqType == "add")
            {
                <h3>wellcome in add page</h3>
                x = "Add";
                ViewData["Title"] = "Add StorageType Page";
            }
            else
            {
                <h3>wellcome in add page</h3>
                x = "Edit";
                ViewData["Title"] = "Edit StorageType Page";
            }}

        <form asp-controller="StorageType" asp-action=@x method="post">
            @{
                if (x == "Edit")
                {
                    <input hidden asp-for="@Model.Id" />
                }
            }

            <partial name="_AddEdit"></partial>
            <button type="submit"> @x StorageType</button>
        </form>
        <div asp-validation-summary="All"></div>*@



    <div class="container-xxl flex-grow-2 container-p-y">
        <div class="container-xxl">
            <div class="authentication-wrapper authentication-basic container-p-y">
                <div class="authentication-inner">
                    <!-- Register -->
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <h4 class="mb-2">Add Storage Type</h4>
                            </div>
                            <form asp-controller="StorageType" asp-action="Add" method="post">





                                <div class="mb-3">
                                    <label class="form-label" for="basic-icon-default-fullname"> Name</label>
                                    <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-fullname2" class="input-group-text">

                                            <i class='bx bx-home-alt'></i>
                                        </span>
                                        <input type="text"
                                               class="form-control"
                                               id="basic-icon-default-fullname"
                                               placeholder="Name"
                                               aria-label="Name"
                                               aria-describedby="basic-icon-default-fullname2"
                                               asp-for="Name" />
                                        @Html.ValidationMessageFor(x => x.Name)

                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="basic-icon-default-company">Description</label>
                                    <div class="input-group input-group-merge">
                                        <span id="basic-icon-default-company2" class="input-group-text">
                                            <i class='bx bxs-detail'></i>
                                        </span>
                                        <input type="text"
                                               id="basic-icon-default-company"
                                               class="form-control"
                                               placeholder="Description"
                                               aria-label="Description"
                                               aria-describedby="basic-icon-default-company2"
                                               asp-for="@Model.Description" />
                                    </div>
                                </div>





                                <div class="container">
                                    <div class="row">
                                        <div class="col text-center">
                                            <button class="btn btn-primary w-50" type="submit">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
