@model IEnumerable<Warehouse_MS.Models.StorageType>
@using Warehouse_MS.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
@{
    ViewData["Title"] = "StorageType Page";
}

@{
    Layout = "_Empty";
}

<h1 class="mt-4 mb-5"><strong>All StorageType</strong></h1>
<a class="btn btn-primary btn-lg " asp-controller="StorageType" asp-action="Index"> Back </a>
<a class="btn btn-primary btn-lg " asp-controller="StorageType" asp-action="goAddView"> Add new StorageType </a>
<br />



<br />

@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success" style=" color: red; height:30px ;font-size: 15px;font-family: 'Raleway Bold';">
        <strong>Thank You ! </strong>@TempData["AlertMessage"]

    </div>
}
<br />

<section style="background-color: #eee;">
    <div class="text-center container py-5">

        <div class="row">
            @foreach (StorageType storageType in Model)
            {



                @*//// To fromat tha product data as bootstrap card*@
                <section style="background-color: #eee;">
                    <div class="card mb-3" style="max-width: 450px;">
                        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                             data-mdb-ripple-color="light">

                            <a href="#!">
                                <div class="mask">
                                    <div class="d-flex justify-content-start align-items-end h-100"></div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">

                            <h5 class="card-title mb-3">@storageType.Name</h5>


                            <h6 class="mb-3">@storageType.Description</h6>

                            <a asp-controller="StorageType" asp-action="Details" asp-route-id=@storageType.Id> <Button class="btn btn-primary btn-lg">storageType Details </Button></a>

                            <a class="btn btn-primary btn-lg " asp-controller="StorageType" asp-action="goEditView" asp-route-id=@storageType.Id>update</a>
                            <a class="btn btn-primary btn-lg " asp-controller="StorageType" asp-action="Delete" asp-route-id=@storageType.Id> delete </a>

                        </div>
                    </div>
                </section>


            }


        </div>
    </div>
</section>






